body{
  background-color: rgb(239, 232, 232);
}

.lay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(160, 32, 240, .5);
}


.bt-bgr{
  background-color: rgb(160, 32, 240) !important;
}


h1,h2,h3,h4,h5,h6,p{
  color: rgb(103, 15, 158);
}

.col{
  color: rgb(103, 15, 158) !important; 
}

.form-control:focus {
  border-color: violet;
  box-shadow: 0 0 0 0.25rem rgba(160, 32, 240, .25);
}

.offline{
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
}

.wid{
  width: 90%;
}